@import './variable/colors/light.scss';
@import './variable/colors/dark.scss';
@import './fonts.scss';
@import './spacing.scss';

@mixin layout-flex($property, $value-x, $value-y) {
    display: flex;
    flex-direction: $property;

    @if $property == 'column' or $property == 'column-reverse' {
        align-items: $value-x;
        justify-content: $value-y;
    }
    @if $property == 'row' or $property == 'row-reverse' {
        align-items: $value-y;
        justify-content: $value-x;
    }
}

@mixin childs($value: 0%, $component : 0, $nb : 0, $property: column, $value-x: center, $value-y: center) {
    @if $component == 1 {
        @if $nb != 0 {
            & > div:nth-of-type(#{$nb}) { @include layout-flex($property, $value-x, $value-y); }
        }
    }

    @if $component != 1 {
        @if $nb != 0 {
            & > div:nth-of-type(#{$nb}) > *:not(.theme) { width: $value; }
        }
    }
}

@mixin divid ($value: 0%) {
    & > div:first-child { width: $value }
    & > div:last-child { width: 100 - $value }
    & > div {
        min-height: 100vh;
        height: fit-content;
    }
}


// General Text
h1, h2, a, p, label { color: var(--neutral-6) }

a { text-decoration: none }
a:hover, .active { color: var(--accent) }

// Revers label and input
form > div { @include layout-flex(column-reverse, flex-start, center) }

// Border
.border-top { border-top: 2px solid grey }
.border-left { border-left: 2px solid grey }

@import './m-button.scss';
@import './cta.scss';
@import './utility-classes.scss';
@import './a-theme.scss';
@import './m-picture.scss';