@import 'assets/style/styles';

.App {
  @include layout-flex(row, center, center); /* flex-start / center / flex-end */
  @include divid(30%);
  @include childs(50%, 1, 1, column, center, space-around);
  @include childs(50%, 1, 2);
  @include childs(50%, 0, 1);
  @include childs(40%, 0, 2);
  min-height: 100vh;
  height: fit-content;
  min-width: 100vw;
  background-color: var(--bg);
}